<ion-header>
    <ion-toolbar color="wms">
        <ion-title text-center>Mayan WMS</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding text-center>
    <img height="120" src="assets/imgs/logomayan.jpg" />

    <div class="login">
        <ion-list>
            <ion-item>
                <ion-label floating>Usuário</ion-label>
                <ion-input type="text" [(ngModel)]="user.UserName"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Senha</ion-label>
                <ion-input type="password" [(ngModel)]="user.Password"></ion-input>
            </ion-item>

            <ion-item>
                <button ion-button color="wms" large full (click)="login(user)">Entrar</button>
            </ion-item>

        </ion-list>
    </div>


</ion-content>
<ion-footer no-padding>
    <ion-grid no-padding>
        <ion-row>
            <ion-col no-padding>
                <button no-margin ion-button full (click)="showPromptToSetApi()">Configurar Servidor</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>