<ion-header>
  <ion-toolbar color="wms">
    <ion-title>Armazenamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Filtrar" (ionInput)="getItems($event)" [(ngModel)]="isearchBar" #searchBar></ion-searchbar>

  <ion-row *ngIf="storageOrdersList && storageOrdersList.length > 0">
    <ion-col>
      <h4 class="title-lighter">Total de Ordens: {{ storageOrdersList?.length }}</h4>
    </ion-col>
  </ion-row>

  <ga-empty [show]="storageOrdersList?.length == 0"></ga-empty>

  <ion-list lines="none">
    <ion-item *ngFor="let item of storageOrdersList; let even = even" [color]="even ? 'white' : 'light'" (click)="goToStorageTaskLists(item)" button>
      <ion-label>
        <ion-row>
          <ion-col>
            <ion-icon name="open-outline" color="dark"></ion-icon>
            <span class="text-dark"> Ordem #{{ item.Code }}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-icon name="person-outline" color="wms"></ion-icon>
            <span class="text-wms"> {{ item.OwnerName }}</span>
          </ion-col>
        </ion-row>
        <ion-row class="indicator">
          <ion-col>
            <label>Itens</label>
            <span>{{ item.QuantityForecast }}</span>
          </ion-col>
          <ion-col>
            <label>Itens Coletados</label>
            <span>{{ item.QuantityReal }}</span>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
